body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@media only screen and (min-width: 520px) {
  
}
@media only screen and (min-width: 960px) {
  
}
